/*-- scss:defaults --*/
$code-color: #bb8acf;

/*-- scss:rules --*/
.dark-mode,
.dark-light .cell-output-display figure,
.dark-light .cell-output-display img
{ display: block; }

.light-mode,
.dark-light .cell-output-display + .cell-output-display figure ,
.dark-light .cell-output-display + .cell-output-display img
{ display: none; }

.terminal {
  border-color: #324C63;
}

